
<footer class="padding-50 dark ui-bg-color01"
data-animation-origin="top"
data-animation-duration="500"
data-animation-delay="800"
data-animation-distance="50px">
<div class="container-fluid nopadding">
	<div class="row">
		<div class="col-sm-3">
			<h5 class="font-accident-two-bold uppercase">Pierfrancesco Elia</h5>
			<p class="inline-block">
				Verso l'infinito e oltre! 🔥
			</p>
			<div class="divider-dynamic"></div>
		</div>
		<div class="col-sm-3 cv-link">
			<h5 class="font-accident-two-bold uppercase">Download CV</h5>
			<div class="dividewhite1"></div>
			<a href="#!"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>Italiano</a>
			<a href="#!"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>Inglese</a>
			<p class="inline-block">
				Il CV è in formato .pdf. Usa Adobe Readaer per aprirlo.
			</p>
			<div class="divider-dynamic"></div>
		</div>
		<div class="col-sm-3">
			<h5 class="font-accident-two-bold uppercase">Newsletter</h5>
			<div class="dividewhite1"></div>
			<input class="newsletter-email" type="email" required="" name="ne" placeholder="Your Email">
			<a href="#!" class="btn btn-wh-trans btn-xs">OK</a>
			<div class="divider-dynamic"></div>
		</div>
		<div class="col-sm-3">
			<h5 class="font-accident-two-bold uppercase">Follow me</h5>
			<div class="follow">
				<ul class="list-inline social">
					<li><a target="_blank" href="https://www.facebook.com/pif.elia" class="rst-icon-facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a target="_blank" href="https://www.twitter.com/PierElia99" class="rst-icon-twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a target="_blank" href="https://www.instagram.com/pierfrancescoelia" class="rst-icon-instagram"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
			<div class="divider-dynamic"></div>
		</div>
	</div>
	<div class="dividewhite1"></div>
	<div class="row">
		<div class="col-md-12 copyrights">
			<p>© <script>document.write(new Date().getFullYear())</script> Pierfrancesco Elia.</p>
		</div>
	</div>
</div>
</footer>

<!-- Back to Top -->
<div id="back-top"></div>
<!-- /Back to Top -->

<!-- JS -->
<script src="assets/js/megascript.min.js" type="text/javascript"></script>