<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1">

<title>{{ page.title }} | Pierfrancesco Elia</title>

<meta name="description" content="Young tech-addicted student of IT, currently dividing myself between swim lessons, playing piano, blood donations and studying Computer Engineering at Polytechnic of Turin. Always available for new projects, ideas and collaborations. I've got the bit between my teeth, and you?">
<meta name="author" content="Pierfrancesco Elia">

<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Apple Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-touch-icon-ipad-retina.png">
<link rel="apple-touch-icon" sizes="167x167" href="/assets/images/icons/apple-touch-icon-ipad-pro.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon-iphone-big.png">
<link rel="mask-icon" href="/assets/images/icons/rounded_logo.svg" color="#4f4f4f">

<!-- Android Icons -->
<link rel="icon" sizes="192x192" href="/assets/images/icons/android-icon-hd.png">
<link rel="icon" sizes="128x128" href="/assets/images/icons/android-icon.png">

<!-- Styles -->
<link href="/assets/css/megastyle.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
<link href="/assets/css/style.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>